{% capture content %}
    <section class="content introduction introduction-lot">
      <h1>{{ title }}</h1>
      {% if assets.size > 0 %}
        {% for asset in assets %}
          {% if asset.meta.lotpic? %}
          <img src="{{ asset.url}}" alt="" />
          {% endif %}
        {% endfor %}
      {% endif %}
      <h2>Current Opportunities:</h2>
        {% for post in site.pages.current-opportunities.posts %}
          {% if post.meta.lot == meta.lot %}
            {% assign has_opps = 'true' %}
              <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              <p class="details"><strong>Lot:</strong> {{ post.meta.lot }} | <strong>Location:</strong> {{ post.meta.location }} | <strong>Project:</strong> {{post.meta.project }} | <strong>Estimated Start:</strong> {{ post.meta['estimated start'] }}</p>
              <hr>
          {% endif %}
        {% endfor %}
        {% unless has_opps == 'true' %}
          <p>There are no current opportunities for this contract.</p>
          <hr>
        {% endunless %}
        {{ body }}
    </section><!-- /content -->
    {% include 'includes/opportunities-brief' %}
{% endcapture %}
{% include 'layouts/default' %}
