{% capture content %}
    <section class="content introduction">
      <div class="cvAdvert">
        <p><a href="/working-on-framework-contracts">Send us your CV</a> to be connected with the right opportunity.</p>
      </div>
      {{site.pages.dai.excerpt}}
      <p class="readmore details"><span class="buttonish"><a href="/dai
  "><span class="ss-icon ss-standard"> &#x21AA; </span> Read More</span></a></p>
      {% if '/' == url %}
      <hr>
        {{ site.pages.about-framework-opportunities.excerpt }}
        <p class="readmore details"><span class="buttonish"><a href="/about-framework-opportunities
    "><span class="ss-icon ss-standard"> &#x21AA; </span> Read More</span></a></p>
      {% endif %}
    </section><!-- /content -->
    {% include 'includes/opportunities' %}
      <section class="content text-box">
        {{ meta.text-box | markdown }}
      </section>
{% endcapture %}
{% include 'layouts/default' %}
