<div class="cf opp-wrap">
  <section class="content opportunities-lot cf">
    <h3>Project History</h3>
    <table>
        <thead>
          <tr>
            <th>Project</th>
            <th>Country</th>
          </tr>
        </thead>
        <tbody>
          {% for post in current.posts %}
            <tr>
              <td><a href="{{ post.permalink }}">{{ post.title }}</a></td>
              <td>{{ post.meta.country }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </section>
</div>