<div class="nav-wrap cf">
  <nav class="utility-nav cf">
    <ul class="cf">
        <li><a href="about-framework-contracts"{% if url contains '/about-framework-contracts'%} class="is-current-page"{% endif %}>ABOUT</a></li>
        <li>/</li>
        <li><a href="/working-on-framework-contracts" {% if url contains '/working-on-framework-contracts' %} class="is-current-page"{% endif %}>GET HIRED</a></li>
        <li>/</li>
        <li><a href="/contact" {% if url contains '/contact' %} class="is-current-page"{% endif %}>CONTACT</a></li>
      </ul>
  </nav>
</div>
