<div class="opp-wrap cf">
  <section class="content opportunities-lot cf">
    <h3>View Opportunities by Donor</h3>
      <table>
        <thead>
          <tr>
            <th>BENEF</th>
            <th>EC Com</th>
            <th>AusAid</th>
            <th>New Zealand Aid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="/lots/benef-1">Lot 1</a></td>
            <td><a href="/lots/ec-com-1">Lot 1</a></td>
            <td><a href="/lots/dfat">DFAT</a></td>
            <td><a href="/lots/mfat">MFAT</a></td>
          </tr>
          <tr>
            <td><a href="/lots/benef-6">Lot 6</a></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><a href="/lots/benef-7">Lot 7</a></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><a href="/lots/benef-10">Lot 10</a></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
  </section>
  <div class="partner-logos cf">
    {% if assets.size > 0 %}

      <h3>Partners</h3>
      {% for asset in assets %}
        {% if asset.meta.partners? %}
          <div class="partner-logo">
            <a href="{{ asset.meta.url }}"><img src="{{ asset.url}}" alt="" /></a>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>
