<div class="opp-wrap cf">
  <section class="content opportunities">
    <h2>New Opportunities</h2>
    {% if site.pages.current-opportunities.posts.length > 0 %}
      {% assign has_opps = 'true' %}
    {% endif %}
    {% for post in site.pages.current-opportunities.posts limit:4 %}
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p class="details"><strong>Lot:</strong> <a href="/lots/{{ post.meta.lot | replace: ' ', '-' | downcase }}">{{ post.meta.lot }}</a> | <strong>Location:</strong> {{ post.meta.location }}</p>
      <hr>
    {% endfor %}
    {% unless has_opps == 'true' %}
      <p>There are no current opportunities.</p>
    {% endunless %}
    {% if has_opps == 'true' %}
      <p class="readmore details"><span class="buttonish"><a href="/current-opportunities/archive"><span class="ss-icon ss-standard"> &#x21AA; </span> View All Opportunities</a></span></p>
    {% endif %}
  </section>
  <section class="content opportunities-lot">
    <h3>View Opportunities by Donor</h3>
      <table>
        <thead>
          <tr>
            <th>BENEF</th>
            <th>EC Com</th>
            <th>AusAid</th>
            <th>New Zealand Aid</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><a href="/lots/benef-1">Lot 1</a></td>
            <td><a href="/lots/ec-com-1">Lot 1</a></td>
            <td><a href="/lots/dfat">DFAT</a></td>
            <td><a href="/lots/mfat">MFAT</a></td>
          </tr>
          <tr>
            <td><a href="/lots/benef-6">Lot 6</a></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><a href="/lots/benef-7">Lot 7</a></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><a href="/lots/benef-10">Lot 10</a></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
  </section>
</div>
