/* Typography Styles
================================ */

// once the web-fonts are loaded, show the site
// TODO: Better way to prevent the FOUT
.wf-active body{
    visibility: visible;
}

/* Page Generic Styles
================================ */

a{
  color: $green-link;
  text-decoration: none;
}

/* Header
================================ */
nav ul li{
  color: #c8c6c2;
  a{
  font-weight: 300;
  color: #c8c6c2;
  }
}
h1{
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2rem;
}
.utility-nav, .tagline, .details{
  font-size: .9rem;
}

// Content
