@import "ss-standard";
@import "ss-social-circle";
@import "grid";
@import "reset";
@import "variables";
@import "typography";

html{
  font-size: 12px;
  line-height: 20px;
}
.cvlink{
  text-align: right;
  clear: right;
  a{
    font-weight: bold;
  }
}
.history{
  a, td{
    line-height: 19px;
  }
}
.cvAdvert{
  padding: .5em;
  background-color: $highlight-gray;
  p{
    margin:5px;
  }
}
body{
  font-family: 'proxima-nova-1', Helvetica, Arial, sans-serif;
  margin: 0;
  visibility: hidden;
  color: $black;
}
*{
box-sizing: border-box;
-moz-box-sizing: border-box;
}
img, video, object, svg{ max-width: 100% }
img{
  border: 1px solid $nav-gray;
}
article, header, nav, section {
    display: block;
}

/* Page Layout
================================ */
.partner-logo{
  float: left;
  height: 132px;
  width: 132px;
  padding: 5px;
  img, svg{
    width: 100%;
  }
}
.project-details{
  list-style-type: none;
  background-color: $highlight-gray;
  padding: .8em;
  li{
    margin-bottom: .5em;
  }
}

.opportunities-lot{
    padding: .7em;
    background-color: $highlight-gray;
    margin-top: 1.5em;
}
.opportunities{
  padding: .7em;
  background-color: $highlight-gray;
  margin-top: 1.5em;
  hr:last-of-type{
    display: none;
  }
  p:nth-last-of-type(2){
    margin-bottom: 2em;
  }
}
.buttonish{
  padding: 4px 7px 4px 7px;
  box-shadow: 0px 0px 4px 0px #8d8d8d;
  a{
    color: white;
  }
  a:hover{
    color: white;
  }
  a:visited{
    color: white;
  }
  background-color: $green-link;
}
.buttonish:hover{
  box-shadow: none;
  background-color: #447a42;
}
// Tables
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.nav-wrap{
  background-color: $black;
  padding: .5em;
}
.primary-header{
  background-color: rgb(242, 240, 237);
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
.logo{
  width: 210px;
  height: 80px;
  margin-bottom: .5em;
}
.no-svg .logo{

}
.masthead{
  @include width(4);
  @include min-width(4);
  margin: auto;
}
.masthead-title{
  margin-top: .5em;
  margin-bottom: .5em;
}
.wrap{
  margin: auto;
  overflow: hidden;
  @include width(4);
  @include min-width(4);
}
.footer-wrap{
  background-color: $black;
}
.footer{
  @include width(4);
  @include min-width(4);
  margin: auto;
  color: $nav-blue;
  // padding: 1em 0 1em 0;
}
.readmore{
  margin-top: 0;
}
/* Page Sections */

// Nav
.utility-nav{
  @include min-width(5);
  ul{
    list-style-type: none;
    margin: 0 0 0 1em;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
  }
  li{
    float: left;
    margin-right: 1em;
    a{
      color: $nav-gray;
    }
    .is-current-page{
      color: $white;
    }
  }
}
.ss-icon{
  position: relative;
  top:2px;
}
/* Content */
section hr{
  border: 0;
  border-bottom: 1px solid $nav-gray;
}
.footer{
  min-height: 3em;
  margin-top: 3em;
}
.introduction{
  padding-top: 1em;
}
//—————————————————————//
//****Media Queries****//
//—————————————————————//
/*
  Mobile layout
  240–479 px
  Zoomed out below 320 px
*/

@media screen and (min-width: 15em) {
.utility-nav{
  font-size: .6rem;
}
}
/*
  Wide mobile layout
  480-767 px
  Zoomed in above 480 px
*/
@media screen and (min-width: 30em) {
  .masthead{
    @include width(6);
  }
  .utility-nav{
    font-size: .9rem;
  }
  .logo{
    @include width(2);
    float: left;
    margin-right: $gutter;
    margin-bottom: 0;
    height: 45px;
  }
  .masthead-title{
    @include width(4);
    display: block;
    float: right;
    font-size: 2rem;
  }
  .wrap{
    @include width(6);
  }
  .footer{
    @include width(6);
  }
  html{
    font-size: 13px;
    line-height: 22px;
  }
  .opportunities-lot{
    table{
        font-size: .9rem;
    }
  }
  .partner-logo{
    height: 136px;
    width: 136px;
  }
}
/*
  Tablet layout
  600-911 px
  Zoomed in above 600 px
*/
@media screen and (min-width: 37.5em){
  .masthead{
    @include width(8);
  }
  .masthead-title{
    @include width(5);
  }
  .wrap{
    @include width(8);
  }
  .footer{
    @include width(8);
  }
  html{
    font-size: 16px;
    line-height: 27px;
  }
  .utility-nav{
    @include width(8)
  }
  .partner-logo{
    height: 138px;
    width: 138px;
  }
  .logo{
    @include width(3);
    height: 70px;
  }
}
/*
  Widescreen layout
  912-1887 px
  Zoomed in above 912 px
*/
@media screen and (min-width: 57em){
  .masthead{
    @include width(12);
  }
  .masthead-title{
    @include width(9);
    font-size: 3rem;
  }
  .wrap{
    @include width(12);
  }
  .footer{
    @include width(12);
  }
  html{
    line-height: 30px;
  }
  .introduction{
    @include width(7);
    float: left;
    margin-right: $gutter;
  }
  .opp-wrap{
    @include width(5);
    float: right;
  }
  .opportunities-lot{
    table{
      font-size: .7rem;
    }
  }
  .text-box{
    @include width(7);
    margin-right: $gutter;
    float: left;
  }
  .partner-logo{
    height: 112px;
    width: 112px;
  }
}
/* I got 99 problems, but this last line ain't one */
